doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class='row clearfix')
        div(class='col-md-12')
            div(class='container' style='width: 960px')
                include content/intro.html