doctype html
html(class='no-js')
    head
        meta(charset='utf=8')
        title= title
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        base(href='/')
        link(rel='stylesheet', href='styles/bootstrap.min.css')
        link(rel='stylesheet', href='styles/bootstrap-theme.css')
        link(rel='stylesheet', href='http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/icon/cione_logo.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/icon/cione_logo.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/icon/cione_logo.png')
        link(rel='apple-touch-icon-precomposed', href='images/icon/cione_logo.png')
        link(rel='shortcut icon', href='images/icon/cione_logo.png')
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js')
        script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
        script(src='scripts/design/respond.js')
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        link(rel='stylesheet', href='styles/wacommon.css')
        link(rel='stylesheet', href='styles/main.css')
        link(rel='stylesheet', href='styles/masion.css')
  body
    block content