@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

 *{font-family:'Nanum Gothic', sans-serif; }

body{padding-top:70px;}

/*header*/
.navbar{width:100%;}

.navbar-nav > li {
    float: left; margin-right:0;}

.nav li {
  padding-left: 20px;

  }
.nav-menu {margin-top:30px; margin-bottom:0;}


.head-wrapper .nav li a{color:#222222; font-size:16px; font-weight:600; }
.head-wrapper .nav li a:hover{text-decoration:none; border-top:3px solid #ffcb08;}

.head-wrapper {padding-bottom:10px; border-bottom:3px solid #ffcb08; overflow:hidden;}

/*footer*/
.footer-wrapper{margin-top:27px; border-top:3px solid #ffcb08; overflow: hidden;}
.breadcrumb {
	background-color: #ffffff;
	margin-top: 5px;
	/*margin-bottom: 15px;*/
}
.breadcrumb>li{padding:0 5px;}
.breadcrumb li a{color:#222; font-size:16px; font-weight:bold;}

.breadcrumb>li+li:before {
	content: none;
}

.footer-wrapper address{font-size:12px; margin-top: 15px;}


/*sub-nav*/
.navbar-sub{margin-top:0; background:#717171;padding-top:8px;}
.navbar-sub li a{color:#fff; font-size:14px;} 
.navbar-sub li a:hover{text-decoration:none;}
/*contents*/
.cont01{margin-top:57px;}

/*사이드메뉴*/
 /*메뉴-헤더*/
.nav-stacked{border-top:3px solid #ffca08; border-bottom:3px solid #ffca08;}
.nav-stacked dt{padding:8px 0;}
.title{border-bottom:1px solid #e6e6e6;}
.title a{color: #222222; size:18px; font-weight:800;}
.nav-pills > dd.active > a,
.nav-pills > dd.active > a:hover,
.nav-pills > dd.active > a:focus {
  color: #222222; size:16px; font-weight:800; 
  background-color: #faeebc;
}
 /*메뉴-항목*/
dd{margin:2px; }
.sub-menu{text-indent:15px;}
.nav-stacked > dd > a {
  position: relative;
  display: block;
  padding: 8px 15px; color:#222;
}

.nav-stacked > dd > a:hover,
.nav-stacked > dd > a:focus {
  text-decoration: none;
  background-color: #faeebc;
}

/*퀵메뉴*/
.col-md-1{padding-left:0;}

.quick{margin:150px auto; width:91%;}

.quick > .panel-heading {
  color: #FFFFFF;
  background-color: #444444;
  border-color: #ffcb08;
  text-align:center;
  padding:7px;
  font-weight:bold;
}
.quick .panel-body {
  padding: 7px;
}
.quick .list-group-item {
  position: relative;
  display: block;
  padding: 5px 0;
  margin-bottom: -1px;
  background-color: #ffffff;
 
 font-size:12px;
 text-align:center;}

.quick .list-group a{color:#444444; font-weight:bold;}
.quick .list-group a:hover{text-decoration: none; color:#FF0000;}
