@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

 *{font-family:'Nanum Gothic', sans-serif; }

body{padding-top:70px; padding-bottom:50px;}
/*header*/
.navbar{width:100%;}

.navbar-nav > li {
    float: left; margin-right:0;}

.nav li {
  padding-left: 20px;

  }
.nav-menu {margin-top:30px; margin-bottom:0;}


.head-wrapper .nav li a{color:#222222; font-size:16px; font-weight:600; }
.head-wrapper .nav li a:hover{text-decoration:none; border-top:3px solid #ffcb08;}

.head-wrapper {padding-bottom:10px; border-bottom:3px solid #ffcb08; margin-bottom:27px; overflow:hidden;}

/*contents*/
.contents {margin-top:30px;}

.contents h3{font-size:18px;font-weight:800;}
.contents h3 a{color:#444; font-weight:800;}
.contents h3 a:hover{text-decoration:none;}

.label{margin:20px 10px;}
.label a{color:#444;}
.label a:hover{text-decoration:none;}
.label-warning{background-color:#fff;}
.contents ol{padding-top:50px;}
.contents li{padding:10px 0; }

.contents li:last-child{padding-bottom:0;}
.well {
  background-color: #fff;
  border: 1px solid #e6e6e6;
 
}
.contents dt {font-size:16px; margin-top:10px;}
.contents dt:first-child{margin-top:0;}
.contents dd {margin:3px 0; font-size:14px;}

/*footer*/
.footer-wrapper{margin-top:40px; border-top:3px solid #ffcb08;}
.breadcrumb {
	background-color: #ffffff;
	margin-top: 5px;
	margin-bottom: 15px;
}
.breadcrumb>li{padding:0 5px;}
.breadcrumb li a{color:#222; font-size:16px; font-weight:bold;}
.breadcrumb li a:hover{text-decoration; }
.breadcrumb>li+li:before {
	content: none;
}

.footer-wrapper address{font-size:12px; overflow:hidden;}

.btn-write:hover{color:#ffca08;}
.btn-write{margin:0 5px; background:#656565; color:#fff;}

/*메인이미지변경-듀얼리스트*/
.bootstrap-duallistbox-container .buttons {
    width: 100%;
    margin-bottom: -1px;
}

.bootstrap-duallistbox-container label {
    display: block;
}

.bootstrap-duallistbox-container .info {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
}

.bootstrap-duallistbox-container .clear1,
.bootstrap-duallistbox-container .clear2 {
    display: none;
    font-size: 10px;
}

.bootstrap-duallistbox-container .box1.filtered .clear1,
.bootstrap-duallistbox-container .box2.filtered .clear2 {
    display: inline-block;
}

.bootstrap-duallistbox-container .move,
.bootstrap-duallistbox-container .remove {
    width: 60%;
}

.bootstrap-duallistbox-container .btn-group .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.bootstrap-duallistbox-container select {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bootstrap-duallistbox-container .moveall,
.bootstrap-duallistbox-container .removeall {
    width: 40%;
}

.bootstrap-duallistbox-container.bs2compatible .btn-group > .btn + .btn {
    margin-left: 0;
}

.bootstrap-duallistbox-container select {
    width: 100%;
    height: 300px;
    padding: 0;
}

.bootstrap-duallistbox-container .filter {
    display: inline-block;
    width: 100%;
    height: 31px;
    margin: 0 0 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-duallistbox-container .filter.placeholder {
    color: #aaa;
}

.bootstrap-duallistbox-container.moveonselect .move,
.bootstrap-duallistbox-container.moveonselect .remove {
    display:none;
}

.bootstrap-duallistbox-container.moveonselect .moveall,
.bootstrap-duallistbox-container.moveonselect .removeall {
    width: 100%;
}

/*홍보동영상 변경*/
.table th{text-align:center;}
.paginationcenter{width:50%; margin:0 auto;}
.pagination > li > a{color:#898989;}
.pagination .active{background-color:#999;}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #898989;
  border-color: #898989;
}


.pd-slide a{padding:0 20px;}

/*퀵메뉴*/
.col-md-1{padding-left:0;}

.panel{margin:150px auto; width:91%;}

.panel-default > .panel-heading {
  color: #FFFFFF;
  background-color: #444444;
  border-color: #ffcb08;
  text-align:center;
  padding:7px;
  font-weight:bold;
}
.panel-body {
  padding: 7px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 5px 0;
  margin-bottom: -1px;
  background-color: #ffffff;
 
 font-size:12px;
 text-align:center;}

.list-group a{color:#444444; font-weight:bold;}
.list-group a:hover{text-decoration: none; color:#FF0000;}
