#intro{margin-left:34px; background-color:#ffbcbc; width:749px; height:509px;}
.cont01{margin-bottom:100px;}

.intro{font-size:18px; line-height:36px; margin:10px 0; font-color:#222;}
h2{font-weight:bold;}
.intro .text01{color:#fba31b; font-size:20px; font-weight:800;}
.intro .text02{font-weight:600;}
.ceosign{margin:0 auto; width:160px;}
.ceosign img{padding-top:30px;}
