@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

 *{font-family:'Nanum Gothic', sans-serif; }


h3{font-size:18px; font-weight:bold;}
h3 a{color:#222222;}
h3 a:hover{text-decoration:none;}




h4{font-family:'Nanum Gothic';font-size:18px; margin:1px 0;}


.media:first-child {margin-top: 33px;}
.media{padding-top:17px; border-top:1px solid #d4d4d4;}
.media:last-child {padding-bottom:17px; border-bottom:1px solid #d4d4d4; margin-bottom:50px;}

.media .media-body{padding-left:32px; font-size:14px; color:#717171;}
.media-heading{font-size:20px; color:#f15a22; font-weight:600; margin-bottom: 8px;}

.paginationcenter{width:32%; margin:0 auto;}
.pagination > li > a{color:#898989;}

.btn-write{margin-top:20px; background:#656565; color:#fff;}
.btn-write:hover{color:#ffca08;}