
/*본문내용*/
.address{margin-left:60px;}
.address> dt{font-size:20px; font-weight:800;margin-bottom:5px;}
.address> dd{font-size:18px;margin-bottom:25px;}

#map{width:300px; height:200px; background:#ffbcbc;}

