h3{font-family:'Nanum Gothic', sans-serif; font-size:1.6em; font-weight:700; margin-top:15px;}
.well{padding:15px;}
.text1{color:#a9a135;}
.cont{ margin-bottom:35px; }
.menu-btn{padding:0;}


.btn-lg {
  padding: 30px 20px;
  font-size: 1em;
  line-height: 1.33;
  border-radius: 6px;
}

