@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

 *{font-family:'Nanum Gothic', sans-serif; }

img{max-width:100%;}

h3{font-family:'Nanum Gothic', sans-serif; font-size:2.4em; color:#714f29; font-weight:bold;}
.pager01{margin:30px 0 0;}
.pager01 .active{color:#bd4848;}
.pager01 li{font-size:1em; font-size:0.8em;}
.pager01 li a{color:#2d1911;}
.pager01 li a:hover{text-decoration:none;}
.line-bottom{border-bottom:2px solid #795936;}

.well01{padding:0px;}

.well01 p{font-size:1.2em; margin:0 0 20px; color:#696969; font-weight:600;}
.text01{color:#9b2526; font-size:1.3em;}
.text02{color:#b26025; text-decoration: underline;}
.text03{color:#515151; font-weight:800;}
.text04{color:#666666;}
p.str01{color:#df4826; font-size:1.4em; font-weight:600;}


.line-bottom02{border-bottom:1px solid #a8928e; margin:40px 0 20px;}
h4{font-family:'Nanum Gothic', sans-serif; font-size:2.0em; color:#714f29; font-weight:bold;}
.port-thum li{width:24%;}
.port-thum a li{width:24%;}
.port-thum{padding-left:15px; border-bottom:2px dotted #96afb6; padding-bottom:15px;}

.process-img{margin:60px;}

h5{font-family:'Nanum Gothic', sans-serif; font-size:1.8em; color:#707070; font-weight:bold; margin:40px 0 20px;}
.address dt{font-size:1.3em; color:#6f1503;}
.address dd{margin-bottom:15px;color:#666666; font-weight:bold;}
.address dd:last-child{margin-bottom:0;}
.address{width:55%; border:3px double #bbbbbb; padding:15px; }

#map{width:55%;}

.form-signin{ max-width: 330px;
  padding: 15px;
  margin:0 auto;}
.form-style{margin:10px 0;}

.btn-brown{
	background-color: hsl(25, 100%, 24%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e05d00", endColorstr="#7a3300");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e05d00), to(#7a3300));
  background-image: -moz-linear-gradient(top, #e05d00, #7a3300);
  background-image: -ms-linear-gradient(top, #e05d00, #7a3300);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e05d00), color-stop(100%, #7a3300));
  background-image: -webkit-linear-gradient(top, #e05d00, #7a3300);
  background-image: -o-linear-gradient(top, #e05d00, #7a3300);
  background-image: linear-gradient(#e05d00, #7a3300);
  border-color: #7a3300 #7a3300 hsl(25, 100%, 19%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  }
  .lo-01{margin-top:45px;}

.myexpense{
    color: darkred;
    font-weight: 800;
    font-size: 120%;
}
ul li{
    margin-bottom: 10px;
    margin-top: 10px;
}