<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="navbar-sub">

    <div class="container">
        <div class="col-md-12 column">

            <ul class="list-inline pull-right">
                <li>
                    <a href="/les21">홈 &gt;</a>
                </li>
                <li>
                    <a href="/business21">리스금융</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="banner">
    <img src="img/lease-img/banner.png" alt="금융리스배너" class="center-block">
</div>

<div class="container cont01">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3><img src="img/menu_icon_01.png"> 리스금융</h3>
            <div class="row clearfix">
                <div class="col-md-1 column"></div>
                <div class="col-md-10 column">
                    <dl>
                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 리스(시설대여)의 정의(여신전문금융업법 제2조 10호)
                        </dt>
                        <dd class="well">
                            <strong>시설대여(리스)</strong> 함은 대통령령이 정하는 물건(이하 “특정물건” 이라고 한다.)을 새로이 취득하거나 대여받아, 거래상대방에게 대통령이 정하는
                            <br>
                            일정기간 이상 사용하게 하고 그 기간에 걸쳐 일정대가를 정기적으로 분할하여 지급받으며 그 기간 종료후의 물건의 처분에 관하여는 당사자간 약정으로 정하는 방식의 금융을 말한다
                        </dd>
                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 리스 이용 절차
                        </dt>
                        <dd>
                            <img src="img/lease-img/lease1.png" alt="리스 이용 절차" class="center-block">
                        </dd>

                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 리스금융
                        </dt>
                        <dd class="well">
                            기업 또는 개인이 필요로 하는 각종 시설, 설비, 기계 및 기구, 장비 등을 캐피탈이 대신하여 구입하고 이를 약정에 따라 일정기간 동안 대여하여
                            <br>
                            그 대가로 사용료(리스료)를 받는 것을 조건으로 하는 임대차 형식의 효율적인 설비조달 금융 서비스 입니다
                        </dd>

                    </dl>

                </div>
                <div class="col-md-1 column"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-1 column navbar-fixed-bottom visible-lg visible-md">
    <div class="panel panel-default quick">
        <!-- Default panel contents -->
        <div class="panel-heading">
            공작기계
        </div>
        <!-- List group -->
        <ul class="list-group">
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                CNC자동선반
            </li></a>
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                양두밀링
            </li></a>
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                머시닝센터
            </li></a>
            <a href="043-1_S_product_List2.html"><li class="list-group-item">
                중고기계목록
            </li></a>
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                CNC선반
            </li></a>
            <a href="043-1_S_product_List2.html"><li class="list-group-item">
                추천매물
            </li></a>
            <a href="043-1_S_product_List2.html"><li class="list-group-item">
                현장 실 사용매물
            </li></a>
        </ul>
        <div class="panel-heading">
            금융리스
        </div>
        <!-- List group -->
        <ul class="list-group">
            <a href="/business21"><li class="list-group-item">
                리스금융
            </li></a>
            <a href="/business22"><li class="list-group-item">
                할부금융
            </li></a>
            <a href="/business24"><li class="list-group-item">
                금융컨설팅
            </li></a>
            <a href="/business23"><li class="list-group-item">
                개인운전자금
            </li></a>
        </ul>
    </div>
</div>
</body>
</html>