<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="navbar-sub">

    <div class="container">
        <div class="col-md-12 column">

            <ul class="list-inline pull-right">
                <li>
                    <a href="/les21">홈 &gt;</a>
                </li>
                <li>
                    <a href="/business23">담보및운전자금</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="banner">
    <img src="img/lease-img/banner.png" alt="금융리스배너" class="center-block">
</div>

<div class="container cont01">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3><img src="img/menu_icon_01.png"> 담보 및 운전자금</h3>
            <div class="row clearfix">
                <div class="col-md-1 column"></div>
                <div class="col-md-10 column">
                    <dl>
                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 기계 담보대출
                        </dt>
                        <dd class="well">
                            <ul>
                                <li>
                                    기존 현금 보유 장비를 담보로 시세 대비 80~100% 금융 지원
                                </li>
                                <li>
                                    물건 조건 : 대상물건의 권리침해 및 이해관계가 없는 순수 현금구매 물건에 한함
                                </li>
                                <li class="list-unstyled">
                                    &middot; 리스 종료, 담보 설정 해지 물건은 취급 가능
                                </li>
                            </ul>
                        </dd>
                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 기계 담보대출
                        </dt>
                        <dd class="well">
                            <ul>
                                <li>
                                    신용 대출 및 각종 담보대출 등의 금융상품을 활용하여 기업의 운영 자금을 지원 하는 상품입니다
                                </li>
                            </ul>
                        </dd>

                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 취급조건
                        </dt>
                        <dd class="well">
                            <ul>
                                <li>
                                    본인이 소유 하고 있는 장비 및 담보 물건에 한함
                                </li>
                                <li>
                                    대출 한도: 60% ~ 80% 이내
                                </li>
                                <li>
                                    대출 기간: 12 ~ 48 개월
                                </li>
                                <li>
                                    상환 방법: 1개월 후불 원리금 균등 상환 및 1금융권 (거치 + 원금) 상환 방법
                                </li>
                                <li class="list-unstyled">
                                    *상품조건은 시장 상황 및 사정에 따라 변동 될 수 있습니다
                                </li>
                            </ul>
                        </dd>

                    </dl>

                </div>
                <div class="col-md-1 column"></div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-1 column navbar-fixed-bottom visible-lg visible-md">
    <div class="panel panel-default quick">
        <!-- Default panel contents -->
        <div class="panel-heading">
            공작기계
        </div>
        <!-- List group -->
        <ul class="list-group">
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                CNC자동선반
            </li></a>
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                양두밀링
            </li></a>
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                머시닝센터
            </li></a>
            <a href="043-1_S_product_List2.html"><li class="list-group-item">
                중고기계목록
            </li></a>
            <a href="043-1_S_product_List1.html"><li class="list-group-item">
                CNC선반
            </li></a>
            <a href="043-1_S_product_List2.html"><li class="list-group-item">
                추천매물
            </li></a>
            <a href="043-1_S_product_List2.html"><li class="list-group-item">
                현장 실 사용매물
            </li></a>
        </ul>
        <div class="panel-heading">
            금융리스
        </div>
        <!-- List group -->
        <ul class="list-group">
            <a href="/business21"><li class="list-group-item">
                리스금융
            </li></a>
            <a href="/business22"><li class="list-group-item">
                할부금융
            </li></a>
            <a href="/business24"><li class="list-group-item">
                금융컨설팅
            </li></a>
            <a href="/business23"><li class="list-group-item">
                개인운전자금
            </li></a>
        </ul>
    </div>
</div>
</body>
</html>