extends layout
block content
    include ../machine_html/machine_head.html
    include ../machine_html/043-1_S_product1_View1_machine.html
    include ../machine_html/machine_foot.html
////
   Created by ci-one on 2014-10-01.

